{% if page.image %}
<div class="main-image mb3" style="
background-image: url(/images/{{page.image}});
background-size: {{ page.background_size }};
background-color: {{ page.background_color }};
background-position: {{ page.background_position }};
">
<div class="container px2">
  <header>
    <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <h1 class="mt0">{{ page.title }}</h1>
  </header>
</div>
</div>
{% endif %}
