<div class="clearfix mxn2 mb2">
  <div class="sm-col sm-col-3 px2">
    <a href="{{ include.post.url }}">
      <div class="rounded mb1" style="
    padding-top: 71.555%;
    background-image: url(/images/{{post.image}});
    {% if post.background_size == 'initial' %}
      background-size: contain;
      background-position: center center;
    {% else %}
      background-size: {% if post.background_size %}{{ post.background_size }}{% else %}cover{% endif %};
    {% endif %}
    background-color: {{ post.background_color }};
    "></div>
    </a>
  </div>

  <div class="sm-col sm-col-9 px2">
    {% include _rating.html rating=post.rating %}
    <time>{{ include.post.date | date_to_string }}</time>
    <h2 class="mt1 mb1">
      <a href="{{ include.post.url }}">{{ include.post.title }}</a>
    </h2>
    <p>{{ include.post.excerpt | markdownify | strip_html }}</p>
  </div>
</div>
