<div class="clearfix mxn2 mb2">
  <div class="sm-col sm-col-3 px2">
    <div class="rounded" style="
    height: 10em;
    background-image: url(/images/{{post.image}});
    background-size: {{ post.background_size }};
    background-color: {{ post.background_color }};
    "></div>
  </div>

  <div class="sm-col sm-col-9 px2">
    <time>{{ include.post.date | date_to_string }}</time>
    <h2 class="mt1 mb1">
      <a href="{{ include.post.url }}">{{ include.post.title }}</a>
    </h2>
    <p>{{ include.post.excerpt }}<p>
  </div>
</div>
