<div class="sm:grid grid-cols-4 gap-8 mb-8">

  <a href="{{ include.post.url }}">
    <div class="rounded mb-2 aspect-w-4 aspect-h-3" style="
    background-image: url(/images/{{post.image}});
    {% if post.background_size == 'initial' %}
      background-size: contain;
      background-position: center center;
    {% else %}
      background-size: {% if post.background_size %}{{ post.background_size }}{% else %}cover{% endif %};
    {% endif %}
    background-color: {{ post.background_color }};
    "></div>
  </a>


  <div class="col-span-3">
    {% include _rating.html rating=post.rating %}
    <date class="">{{ include.post.date | date_to_string }}</date>
    <div class="my-2">
      <h2 class="">
        <a href="{{ include.post.url }}">{{ include.post.title }}</a>
      </h2>
      <p>{{ include.post.excerpt | strip_html }}</p>
    </div>
  </div>
</div>
