{% if include.rating %}
<div class="float-right ml-4 mb-4 rounded-xl border text-center">
  <div class="bg-darken-1 p-4">
    {% case include.rating %}
    {% when 0 %}
    <i class="fa fa-frown-o fa-4x"></i>
    {% when 1 %}
    <i class="fa fa-meh-o fa-4x"></i>
    {% when 2 %}
    <i class="fa fa-smile-o fa-4x"></i>
    {% endcase %}
  </div>
  <div class="h2 px-4">
    {% case include.rating %}
    {% when 0 %}
    <b>Meh</b>
    {% when 1 %}
    <b>Okay</b>
    {% when 2 %}
    <b>Yeah</b>
    {% endcase %}
  </div>
</div>
{% endif %}
