<footer>
    <div class="container px2 mt4 mb4 center">
        With <i class="fa fa-heart red"></i>
        <a href="http://firedev.com"><strong>firedev.com</strong></a>
    </div>

<script src="/js/firedev.js"></script>
<script>
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    try {
    var pageTracker = _gat._getTracker("UA-747161-4");
    pageTracker._trackPageview();
    } catch (err) {}
</script>

</footer>
