<header class="site-header">
  <div class="container px2 mb2">
    <div class="clearfix mxn2">

      <div class="sm-col sm-col-3 px2">
        <h1 class="logo">
          <a href="/">
            <div class="fire">
              fire
            </div>
            <div class="dev">
              dev
            </div>
            <div class="com">
              .com
            </div>
          </a>
        </h1>
      </div>
      <div class="sm-col sm-col-8 px2">
        <div class="mt4">
          <a class="button button-transparent" href="http://firedevcom.tumblr.com">Blog</a>
          {% for page in site.pages %}
          {% if page.title %}
          <a class="button button-transparent" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
</header>
