<header class="site-header">
  <div class="container px2 mt2 mb2">
    <div class="clearfix mxn2">
      <div class="sm-col sm-col-3 px2">
        <h1 class="logo m0 relative">
          <a href="/" id="logo">
            <span class="hide">
              <span class="fire">
                fire
              </span>
              <span class="dev">
                dev
              </span>
              <span class="com">
                .com
              </span>
            </span>
            <img src="/images/logos/firedev.svg" alt="firedev.com" class="absolute bottom-0" />
            &nbsp;
          </a>
        </h1>
      </div>
      <nav class="sm-col sm-col-9 px2 mt2 py1">
        <div class="right mt2 p1 md-show">
          <a class="btn silver regular" href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <i class="fa fa-rss"></i>
            RSS
          </a>
        </div>
        <h3>
          {% for menu in site.pages order:descending %}
            {% if menu.menu %}
              {% if (page.url == menu.url) or ((menu.url == "/posts/index.html") and (page.url == "/index.html")) %}
                <a class="button bg-orange white" href="{{ menu.url | remove: '/index.html' | prepend: site.baseurl }}">
                  {{ menu.title }}
                </a>
              {% else %}
                <a class="btn" href="{{ menu.url | remove: '/index.html' | prepend: site.baseurl }}">
                  {{ menu.title }}
                </a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </h3>
      </nav>
    </div>
  </div>
</header>
