<header class="sm:grid grid-cols-4 gap-8 mb-4">
  <a href="/" class="block leading-4 aspect-w-3 aspect-h-1 overflow-hidden"
    style="background: bottom left no-repeat url(/images/logos/firedev.svg);">
    <h1 class="text-8xl leading-4 block invisible">
      firedev.com
    </h1>
  </a>

  <div class="mb-8 sm:hidden"></div>

  <nav class="col-span-3 flex flex-wrap gap-8 items-end  leading-6 text-5xl sm:text-2xl">

    {% for menu in site.pages order:descending %}
    {% if menu.menu %}
    {% if (page.url == menu.url) or ((menu.url == "/posts/index.html") and (page.url == "/index.html")) %}
    <a class="orange"
      href="{{ menu.url | remove: '/index.html' | prepend: site.baseurl }}">
      {{ menu.title }}
    </a>
    {% else %}
    <a class=" font-normal text-gray-600" href="{{ menu.url | remove: '/index.html' | prepend: site.baseurl }}">
      {{ menu.title }}
    </a>
    {% endif %}
    {% endif %}
    {% endfor %}

    <div class="flex flex-auto"></div>

    <a class="hidden sm:block font-normal opacity-50 text-sm text-gray-600" href="{{ " /feed.xml" | prepend: site.baseurl }}">
      <i class="fa fa-rss"></i>
      RSS

    </a>
  </nav>
</header>
