<div class="sm:grid grid-cols-4 gap-8 my-16">
  <div class="">
    <img class="rounded" src="/images/me.jpg" alt="Hello!" />
  </div>
  <div class="col-span-3">

    <h2 class="h1">
      Nikolay Ostrovsky
    </h2>

    <div class="sm:grid grid-cols-3 gap-8 mb-8">
      <div class="col-span-2">
        <p class="mt-0">
          Startup Team Lead. I like everything minimal and as simple as possible.
        </p>
        <p>
          Grew from Web and Graphics through User Experience and
          Interfaces, Backend and Frontend programming to Team Lead and CTO.
          Contributed to projects for major brands. L'Oreal,
          JTI and AB InBev among others.
        </p>
      </div>


      <div class="col-span-1 leading-6">

        <!-- <a class="py-1 px-4 white bg-green rounded mb-2 inline-block" href="mailto:nick@firedev.com" -->
        <!-- title="Hey, I am looking for a team to join"><i class="fa fa-cog"></i> <b>Looking</b></a> -->
        <a class="py-1 px-4 block" href="http://github.com/firedev"><i class="fa fa-github"></i> Github</a>
        <a class="py-1 px-4 block" href="http://twitter.com/firedev"><i class="fa fa-twitter"></i> Twitter</a>
        <!--<a class="py-1 px-4 block" href="http://twitter.com/_dearapple"><i class="fa fa-twitter"></i>@_dearapple</a>-->
        <a class="py-1 px-4 block" href="http://stackoverflow.com/users/166484/nick"><i class="fa fa-stack-overflow"></i>
          StackOverflow</a>
        <a class="py-1 px-4 block" href="mailto:nick@firedev.com"><i class="fa fa-envelope"></i> Email Me</a>
      </div>
    </div>
  </div>
</div>
