<div class="clearfix mxn2 mb4">
  <div class="sm-col sm-col-3 px2">
    <img class="rounded" src="/images/me.jpg" />
  </div>
  <div class="sm-col sm-col-6 px2">
    <h2 class="mt0 h1">
      Nick Ostrovsky
    </h2>
    <p>
      Full-stack designer.
      Specializing in crafting components systems tailored to use cases on hand.
      Carefully stitching together back and front ends for improved user experience.
    </p>
    <p>
      Enjoying beautiful scenery of Phuket, Thailand with <a href="http://molokophuket.com">wife</a> and
      two daughters.
    </p>
  </div>
  <div class="sm-col sm-col-3 sm-show">
    <div class="ml2">
      <a class="p1 px2 white bg-green rounded mb1 inline-block" href="mailto:nick@firedev.com"
      title="Hey, I am looking for a team to join"><i class="fa fa-cog"></i> <b>Looking</b></a>
      <a class="p1 px2 block" href="http://github.com/firedev"><i class="fa fa-github"></i> Github</a>
      <a class="p1 px2 block" href="http://twitter.com/firedev"><i class="fa fa-twitter"></i> Twitter</a>
      <!--<a class="p1 px2 block" href="http://twitter.com/_dearapple"><i class="fa fa-twitter"></i>@_dearapple</a>-->
      <a class="p1 px2 block" href="http://stackoverflow.com/users/166484/nick"><i class="fa fa-stack-overflow"></i> StackOverflow</a>
      <a class="p1 px2 block" href="mailto:nick@firedev.com"><i class="fa fa-envelope"></i> Hire Me</a>
    </div>
  </div>
</div>

<div class="rounded bg-darken-1 mb4 py2 clearfix">
  <div class="mxn2">
    <div class="sm-col sm-col-3 center sm-show px2">
      <i class="fa fa-hand-paper-o fa-4x mt4"></i>
    </div>
  </div>
  <div class="sm-col sm-col-9 px2">
    <h2 class="mt0">Hiring? Check this out</h2>
    <p>
    Responsible, self-motivated full-stack designer with around 15 years of experience under my belt.
    Preaching clean, minimalistic approach with less dependencies.
    Interested in full-stack Ruby on Rails job with focus on front-end components.
    </p>
    <p>
    Over time I was involved in a handful of projects, some of them are listed below.
    </p>
  </div>
</div>
