<div class="clearfix mxn2 mb2">
  <div class="sm-col sm-col-3 px2">
    <img class="rounded" src="/images/me.jpg" />
  </div>
  <div class="sm-col sm-col-6 px2">
    <h2 class="mt0 h1">
      Nick Ostrovsky
    </h2>
    <p>
      Just another full-stack web developer with not enough time on his hands.
    </p>
    <p>
      Enjoying beautiful scenery of Phuket, Thailand with <a href="http://molokophuket.com">wife</a> and two daughters. Loves crafting solutions with latest technologies.
    </p>
    <p>
      Things I am using and writing about:
    </p>
  </div>
  <div class="sm-col sm-col-3 sm-show">
    <div class="ml2">
      <a class="p1 px2 white bg-orange rounded mb1 inline-block" href="mailto:nick@firedev.com" title="Sorry, I am not available for client work right now."><i class="fa fa-cog"></i><b>I am busy</b></a>
      <a class="p1 px2 block" href="http://github.com/firedev"><i class="fa fa-github"></i>Github</a>
      <a class="p1 px2 block" href="http://twitter.com/firedev"><i class="fa fa-twitter"></i>Twitter</a>
      <!--<a class="p1 px2 block" href="http://twitter.com/_dearapple"><i class="fa fa-twitter"></i>@_dearapple</a>-->
      <a class="p1 px2 block" href="http://stackoverflow.com/users/166484/nick"><i class="fa fa-stack-overflow"></i>StackOverflow</a>
      <a class="p1 px2 block" href="mailto:nick@firedev.com"><i class="fa fa-envelope"></i>Email</a>
    </div>
  </div>
</div>
{% include _tags.html %}
