---
layout: default
---
<header class="mxn2 p2 rounded-top bg-darkened-1 mb3">
  <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  <h1 class="m0 mb2">{{ page.title }}</h1>
  {% for tag in page.tags %}
  {% include _tag.html tag=tag %}
  {% endfor %}
</header>
{% include _rating.html rating=page.rating %}
<div class="mb3">
  <article class="mb3">
    {{ content }}
  </article>

  {% for tag in page.tags %}
  {% include _tag.html tag=tag %}
  {% endfor %}
</div>
<div class="mt4">
{% include me.html %}
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'firedevcom';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
